@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Cormorant+Unicase:wght@400;700&display=swap');
/*     font-family: 'Cormorant Unicase', serif;
        font-family: 'Montserrat', sans-serif; 
       font-family: 'Cormorant Garamond', serif; */

body {
    background-image: url(../img/double-bubble-outline.png);
}

.nav-item {
    font-size: 1.25rem;
}

.jumbotron-fluid {
    background: linear-gradient(90deg, #222f3d, #2980b9, #bdc3c8);
    color: white;
    margin: 0;
    padding: 0;
}

.jumbotron-fluid h1 {
    font-family: 'Cormorant Unicase', serif;
    font-size: 3rem;
}

.jumbotron-fluid h2 {
    font-style: 'Montserrat', sans-serif;
}

.phone {
    font-family: 'Cormorant Unicase', serif;
    font-size: 3rem;
}

.main-container {
    border-bottom: 2px solid black;
}

.main-container span {
    font-weight: bold;
}

.carousel-caption {
  border: 1px solid white;    
  background-color: rgba(113, 114, 128, .5); 
  box-shadow:  5px 5px rgb(232, 232, 237);
  
}

.carousel-caption h1{
    color: whitesmoke;
    font-weight: bolder;
    font-family: 'Cormorant Unicase', serif;
    font-size: 3rem;
}

.carousel-caption p{
    color:white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
}

.why {
    font-family: 'Cormorant Unicase', serif;
}

.why p {
    font-family: 'Montserrat', sans-serif;
}

.reasons {
    background-color: rgb(236, 230, 230);
    border-radius: 10px;
    border: 1px solid black;
}


.page-title {
    font-family: 'Cormorant Unicase', serif;
    font-weight: bolder;
    color: #00008b;
    font-size: 3rem;
    
}


.quote {
    color: black;
    background-color: white;
    border-radius: 10px;
}

.legend {
    border: 2px solid black;
}

.about  {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5rem;
    height: 75vh;
}
